# This is a basic workflow to update the README.md links for new release assets

name: Readme Links Update
on:
  # Triggers the workflow on publish of new release
  release:
    types: [published]
jobs:
  update_readme:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      # Grab the latest tag i.e. v1.2.3
      - name: Get latest tag
        run: echo "RELEASE_VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV
      # Modifies all the version numbers in the links. Remove the preceding 'v' from the tag
      - name: Modify README
        run: sed -i -r "s/[0-9]+\.[0-9]+\.[0-9]+_/${RELEASE_VERSION//[Vv]}_/g" README.md
      - name: Update author name
        run: git config --global user.name "github-actions[bot]"
      - name: Update author email
        run: git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"
      - name: Add README
        run: git add README.md
      - name: Commit changes
        run: git commit -m "Updated README.md for release"
      - name: Fetch master
        run: git fetch origin master
      - name: Push changes
        run: git push origin HEAD:master
